body {
    padding: 0;
    margin: 0;
    font-family: "Quicksand",sans-serif;
}
h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    margin: 0px auto;
    width: 1620px;
}
/* header */
.header {
    background-color: #0C70AC;
} 
.header-container {
    padding: 60px 0px;
}
.header {
    border-bottom: 1px solid #FFFFFF;
}
.header-list {
    display: flex;
    justify-content: center;
    gap: 95px;
}
.header-link {
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Inter",sans-serif;
}
.header-link:hover {
    color: #F4DE1F;
}
/* section1 */
.hero {
    background-color: #0C70AC;
}
.hero-container {
    display: flex;
    align-items: center;
    gap: 447px;
}
.hero-title {
    display: flex;
    align-items: center;
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: "Quicksand",sans-serif;
}
.hero-text {
    font-size: 32px;
    color: rgba(255,255,255,0.7);
    font-weight: 700;
    text-shadow: 0px 4px 6px rgba(000,000,000,0.5);
    -webkit-text-stroke: 2px rgba(000,000,000,0.5);
}
/* section2 */
.destination {
    background-color: #ffffff;
}
.destination-container {
    padding: 70px 150px 80px 150px
}
.destination-title {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    color: #000;
    font-size: 40px;
    font-weight: 600;
}
.destination-list {
    display: flex;
    gap: 30px;
}
.destination-img {
    padding-bottom: 30px;
}
.destination-subtitle {
    padding-bottom: 15px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    color: #000;
}
.destination-text {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.destination-link {
    display: flex;
    justify-content: center;
    color: #7c7c7c;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: underline;
}
/* section3 */
.blog {
    background-color: #E6E6E6;
}
.blog-container {
    padding: 80px 0px;
}
.blog-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    padding-bottom: 50px;
}
.blog-list {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.blog-item {
    background-color: #FFFFFF;
    border-radius: 13px;
}
.blog-top-text {
    display: flex;
    padding: 25px 40px;
    color: #7C7C7C;
    font-size: 16px;
    font-weight: 600;
}
.blog-subtitle {
    display: flex;
    padding: 0px 40px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}
.blog-text {
    padding: 20px 40px 50px 40px;
    display: flex;
    color: #7C7C7C;
    font-size: 20px;
    font-weight: 600;
}
/* section4 */
.links {
    background-color: #001C2D;
}
.links-container {
    display: flex;
    gap: 269px;
}
.gallery-list {
    width: 500px;
    flex-wrap: wrap;
    display: flex;
    gap: 25px;
}
.links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.links-item {
    width: 45%;
    margin-bottom: 50px;
}
.gallery-title {
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}
.links-title {
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}
.links-link {
    font-weight: ;
    font-size: 24px;
    color: #ffffff;
}
/* footer */
.footer {
    background-color: #001C2D;
    border-top: 1px solid #FFFFFF;
}
.footer-container {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
}
.footer-text {
    font-size: 20px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
}
